main {
    width: 100uv;
}

.image {
    top: 700px;
    height: 700px;
    background-image: url(Haifa2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100uv;
}

.top-link {
    background-color: rgb(76, 154, 227);
    text-align: center;
    font-size: 32;
    line-height: 44px;
    width: 400px;
}

.header-main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26;
    line-height: 34px;
    background-color: aquamarine;
    text-align: center;
    width: 100uv;
}

.header-secondary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24;
    line-height: 34px;
    background-color: rgb(140, 127, 255);
    text-align: center;
    width: 60%;
}

p {
    text-align: right;
    width: 60%;
}

ul, ol {
    text-align: right;
    font-size: larger;
    width: 55%;
    padding-inline: 20px;
    height: fit-content;
}