/* Universal Selector */
* {
    padding: 0;
    margin: 0;
}

main {
    width: 100uv;
}

/* Element Selector */
body {
    background-color: #f7f7f7;
}

/* Class Selector */
.hero {
    padding: 100px;
  }
  
  .hero__title {
    color: #f5f5f5;
  }
  
  .hero__description {
    color: #81da76;
  }
  
.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

.image {
    top: 700px;
    height: 700px;
    background-image: url(Haifa2.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    width: 100uv;
}

.top-link {
    background-color: rgb(76, 154, 227);
    text-align: center;
    font-size: 32;
    line-height: 44px;
    width: 400px;
}

.header-main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26;
    line-height: 34px;
    background-color: aquamarine;
    text-align: center;
    width: 100uv;
}

.header-secondary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24;
    line-height: 34px;
    background-color: rgb(140, 127, 255);
    text-align: center;
    width: 60%;
}

p {
    text-align: right;
    width: 60%;
}

ul, ol {
    text-align: right;
    font-size: larger;
    width: 55%;
    padding-inline: 20px;
    height: fit-content;
}

.answers-form {
    text-align: center;
    width: auto;
}

.ul-list {
    text-align: right;
    font-size: larger;
    padding-inline: 20px;
    height: fit-content;
}

button {
    size: 140px;
    font-size: 18px;
    background-color: aquamarine;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
}

.result-class {
    background-color: rgb(127, 193, 255);
    width: 50%;
    text-align: center;
    font-size: 20px;
    justify-self: center;
}

.wrapper-photos {
    width: 100uv;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
}

.photos-galery {
    padding: 20px;
    background-color: #eee;
    margin-top: 20px;
    width: 80%;
   }
  
.photos-galery > * {
    outline: 2px solid limegreen;
   }

.photos-galery__photos {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
  }

.photos-galery__photo {
    background: gray;
    padding: 20px;
    width: 30%;
    height: 420px;
  }

.photos-galery__photo-1 {
    background: gray;
    padding: 20px;
    width: 30%;
    height: 420px;
  }

.photos-galery__photo-img {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    border-radius: 4px;
  }
