/* Universal Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLES */
body {
  background-color: #f7f7f7;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header, footer {
/*  position: sticky;*/
  justify-content: space-between;
  text-align: center;
}

header {
  top: 0;
}

main {
/*  flex-grow: 1;*/
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: ghostwhite;
  align-items: center;
}

footer {
  bottom: 0;
}

nav {
  border: 2px solid #333;
  border-radius: 1rem;
  margin: 10px auto 1rem;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav li a:hover, li a:focus {
    background: #333;
    color: whitesmoke;
    cursor: pointer;
}

input {
    margin-left: 10px;
}

.cards {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 2px solid #000;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-evenly;
  margin-top: 2rem;
}

.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: #cbd5e1;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card figure {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .card img {
    border: 5px double #333;
    border-radius: 50%;
    min-height: 150px;
  }
  
  .card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
  }

  /* || SMALL */
@media screen and (min-width: 576px) {
    main {
      justify-content: center;
      flex-flow: row wrap;
      padding: 1rem;
    }
  
    .card {
      width: min(100%, 400px);
      min-height: 300px;
    }
/*  
    .card:last-child {
      order: -1;
    }*/
  }
  
  /* || MEDIUM */
  @media screen and (min-width: 768px) {
/*    nav {
      display: none;
    }
  */
    .card {
      width: min(100%, 325px);
    }
  
/*    .card figure {
      flex-flow: column-reverse;
    }*/
  
    .card figcaption {
      margin: 0.1em 0;
    }

    .card p {
      margin-top: 1rem;
    }
  }
  
  /* || LARGE */
  @media screen and (min-width: 992px) {
    .card {
      width: min(100%, 400px);
    }
  
/*    .card:nth-child(2) {
      order: -1;
    }*/
  }
  
  /* || XL  */
  @media screen and (min-width: 1200px) {
    .card {
      /* Remove calc() - min() supports math! */
      width: min(calc(33% - 1rem), 500px);
    }
  }
  
  /* || MOBILE DEVICE LANDSCAPE  */
  @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    h1 {
      font-size: 1.5rem;
    }
  
   .card {
      /* Remove calc() - min() supports math! */
      width: min(calc(33% - 0.25rem), 200px);
    }
  
    .card figcaption,
    .card p {
      font-size: 1.25rem;
    }
  }

.image {
    top: 700px;
    height: 600px;
    background-image: url(Haifa2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
}

.header-main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26;
    line-height: 34px;
    background-color: rgb(0, 217, 255);
    text-align: center;
    margin: 10px;
    width: 100%;
}

p {
    text-align: right;
    width: 80%;
    font-size: 1.2rem;
}

ul, ol {
  text-align: right;
  font-size: larger;
  width: 100%;
  padding-inline: 4rem;
  height: fit-content;
}

.answers-form {
    width: auto;
    font-size: 1.2rem;
}

button {
    size: 140px;
    font-size: 18px;
    background-color: aquamarine;
    width: 200px;
    border-radius: 10px;
    justify-content: center;
}

.result-class {
    background-color: rgb(127, 193, 255);
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

article {
  text-align: right;
  width: auto;
  font-size: 20px;
  margin: 10px;
}
